/* Resetear algunos estilos por defecto del navegador */
body, h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f4;
}

h3 {
  color: #003366; /* Azul oscuro BBVA */
}

a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #00a7e1; /* Azul BBVA */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #007bb5; /* Azul más oscuro BBVA */
}

/* Estilo específico para el enlace de Cerrar Sesión */
a:last-child {
  background-color: #e60012; /* Rojo BBVA */
}

a:last-child:hover {
  background-color: #cc0000; /* Rojo más oscuro BBVA */
}

/* Estilos para el encabezado y el pie de página */
head {
  background-color: #003366; /* Azul oscuro BBVA */
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilos para los enlaces en el pie de página */
body > html > body > div > a {
  color: #00a7e1; /* Azul BBVA */
  margin: 0 10px;
}