<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<header>
	<div sec:authentication property="name"/>
<div sec:authorize="hasRole('ROLE_CLIENTE')">Eres un CLIENTE</div>
	<div sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Eres un ADMON</div>
	<div sec:authorize="hasRole('ROLE_GESTOR')">Eres un GESTOR</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	
  <a class="navbar-brand" th:href="@{/}">AppProductos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul  class="navbar-nav">
    <div sec:authorize="hasRole('ROLE_GESTOR')">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/app/tipos/todos}">Tipos</a>
      </li>
      </div>

      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Productos</a>
      </li>
      <div sec:authorize="hasAnyRole('ROLE_GESTOR','ROLE_ADMINISTRADOR')">
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/app/usuarios/todos}">Usuarios</a>
      </li>
      </div>  
      <div  sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/app/perfiles/todos}">Perfiles</a>
      </li>
      
      </div>
      <div sec:authorize="!isAuthenticated()">

      <li class="nav-item"><a class="nav-link"
							th:href="@{/index}">Iniciar Sesion</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/registro}">Registrarse</a></li>
		</div>
		<div sec:authorize="isAuthenticated()">
	
		<li class="nav-item"><a class="nav-link"
				th:href="@{/logout}">Cerrar Sesion</a></li>
		</div>
    </ul>
  </div>
</nav>
</header>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	</html>
	