<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>APP Eventos</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/}">AppEventos</a>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li sec:authorize="hasRole('ROLE_GESTOR')" class="nav-item active">
						<a class="nav-link" th:href="@{/app/tipos/todos}">Crear evento</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/eventos/activos}">Activos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/eventos/destacados}">Destacados</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Tipos de eventos</a>
					</li>
					<li sec:authorize="hasAnyRole('ROLE_GESTOR','ROLE_ADMINISTRADOR','ROLE_CLIENTE')"
						class="nav-item active">
						<a class="nav-link" th:href="@{/reservas/misReservas}">Mis Reservas</a>
					</li>
				</ul>
			</div>
			<spam sec:authorize="!isAuthenticated()">Invitado</spam>
			<spam sec:authorize="isAuthenticated()" sec:authentication="name"></spam>
			<ul class="nav justify-content-end">
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/index}">Iniciar
						Sesion</a></li>
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link"
						th:href="@{/signup}">Registrarse</a></li>
				<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/logout}">Cerrar
						Sesion</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<h1 class="text-primary"><span th:text="${mensaje}"></span></h1>
		<div sec:authorize="hasAnyRole('ROLE_GESTOR','ROLE_ADMINISTRADOR')">
			<a th:href="@{/eventos/alta}" class="btn btn-primary btn-sm">Nuevo Evento</a></td>
		</div>
		<h3><span th:text="${mensaje}"></span></h3>
		<table class="table table-striped table-sm">
			<th>Nombre</th>
			<th>Aforo</th>
			<th>Fecha Inicio</th>
			<th>Opciones</th>

			<tr th:each="evento : ${eventos}">
				<td th:text="${evento.nombre}"></td>
				<td th:text="${evento.aforoMaximo}"></td>
				<td th:text="${evento.fechaInicio}"></td>
				<td><a th:href="@{/eventos/verUno/{id}(id=${evento.idEvento})}" class="btn btn-success btn-sm">Ver
						detalle</a>
				</td>
			</tr>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>