<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<header>
		<!-- 
	Authenticated username:
        <spam sec:authentication="name"></spam>
        Authenticated user roles:
        <spam sec:authentication="principal.authorities"></spam>
<spam sec:authorize="hasRole('ROLE_CLIENTE')">Eres un CLIENTE</spam>
	<spam sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Eres un ADMON</spam>
	<spam sec:authorize="hasRole('ROLE_GESTOR')">Eres un GESTOR</spam>
-->

		<nav class="navbar navbar-expand-lg navbar-light bg-light">

			<a class="navbar-brand" th:href="@{/}">AppEventos</a>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">

					<li sec:authorize="hasRole('ROLE_GESTOR')" class="nav-item active">
						<a class="nav-link" th:href="@{/app/tipos/todos}">Crear evento</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" th:href="@{/activos}">Activos</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" th:href="@{/destacados}">Destacados</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">Tipos de eventos</a>
					</li>

					<li sec:authorize="hasAnyRole('ROLE_GESTOR','ROLE_ADMINISTRADOR','ROLE_CLIENTE')"
						class="nav-item active">
						<a class="nav-link" th:href="@{/app/tipos/todos}">Mis Reservas</a>
					</li>


					<li sec:authorize="hasAnyRole('ROLE_GESTOR','ROLE_ADMINISTRADOR')" class="nav-item">
						<a class="nav-link" th:href="@{/app/usuarios/todos}">Usuarios</a>
					</li>


					<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="nav-item">
						<a class="nav-link" th:href="@{/app/perfiles/todos}">Perfiles<a />
					</li>
				</ul>
			</div>
			<spam sec:authentication="name"></spam>
			<ul class="nav justify-content-end">
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/index}">Iniciar
						Sesion</a></li>
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link"
						th:href="@{/signup}">Registrarse</a></li>

				<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/logout}">Cerrar
						Sesion</a></li>
			</ul>

		</nav>
	</header>
	<div class="container">
		<h1 class="text-primary">Lista de eventos destacados</h1>
		<div sec:authorize="hasAnyRole('ROLE_GESTOR','ROLE_ADMINISTRADOR')">
			<a th:href="@{/eventos/alta}" class="btn btn-primary btn-sm">Nuevo Evento</a></td>
		</div>
		<table class="table table-striped table-sm">
			<th>Nombre</th>
			<th>Aforo</th>
			<th>Fecha Inicio</th>
			<th>Opciones</th>

			<tr th:each="eventoDestacado : ${eventosDestacados}">
				<td th:text="${eventoDestacado.nombre}"></td>
				<td th:text="${eventoDestacado.aforoMaximo}"></td>
				<td th:text="${eventoDestacado.fechaInicio}"></td>
				<td><a th:href="@{/eventos/verUno/{id}(id=${eventoDestacado.idEvento})}"
						class="btn btn-success btn-sm">Ver detalle</a>
					<a sec:authorize="hasAnyRole('ROLE_GESTOR','ROLE_ADMINISTRADOR')"
						th:href="@{/app/producto/editar/{id}(id=${ele.codigo})}"
						class="btn btn-success btn-sm">Modificar</a>
					<a sec:authorize="hasAnyRole('ROLE_GESTOR','ROLE_ADMINISTRADOR')"
						th:href="@{/app/producto/eliminar/{id}(id=${ele.codigo})}"
						class="btn btn-danger btn-sm">Eliminar</a>
				</td>

			</tr>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>