<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>APP Eventos</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<header th:replace="~{fragments/header :: header}" />
	<div class="container">
		<h1 class="text-primary">Lista de mis reservas</h1>

		<h3><span th:text="${mensaje}"></span></h3>
		<h3>Reservas en curso:</span></h3>
		<table class="table table-striped table-sm">
			<th>Nombre Evento</th>
			<th>Fecha Inicio</th>
			<th>Precio Unidad</th>
			<th>Cantidad</th>
			<th>Opciones</th>
			<tr th:each="reserva : ${misReservasPendientes}">
				<td th:text="${reserva.evento.nombre}"></td>
				<td th:text="${reserva.evento.fechaInicio}"></td>
				<td th:text="${reserva.evento.precio}"></td>
				<td th:text="${reserva.cantidad}"></td>
				<td>
					<a th:href="@{/eventos/verUno/{id}(id=${reserva.evento.idEvento})}"
						class="btn btn-warning btn-sm">Modificar</a>
					<a th:href="@{/reservas/eliminar/{id}(id=${reserva.idReserva})}"
						class="btn btn-danger btn-sm">Cancelar</a>
				</td>

			</tr>
		</table>
		
		<h3>Reservas antigüas:</span></h3>
		<table class="table table-striped table-sm">
			<th>Nombre Evento</th>
			<th>Fecha Inicio</th>
			<th>Precio Unidad</th>
			<th>Cantidad</th>
			<tr th:each="reserva : ${misReservasCaducadas}">
				<td th:text="${reserva.evento.nombre}"></td>
				<td th:text="${reserva.evento.fechaInicio}"></td>
				<td th:text="${reserva.evento.precio}"></td>
				<td th:text="${reserva.cantidad}"></td>

			</tr>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>