body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

h1 {
    color: #333;
}

h3 {
    color: #666;
}

p {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}

a:active {
    color: #0056b3;
}

a:focus {
    outline: none;
}

a:focus-visible {
    outline: auto;
}
.styled-button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.styled-button:hover {
	background-color: #0056b3;
	color: #fff;
}