<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Alta evento</title>
</head>
<body>
	<h1>Aplicación de eventos</h1>
	<h3>Mensaje: <span th:text="${mensaje}"></span></h3>
	
	<h3>Formulario de alta de nuevo evento</h3>

	<form th:action="@{/eventos/alta}" method="post">
		<div>
		<label for="nombre" th:text="Nombre"></label>
		<input type="text" name="nombre"/>
		</div>
		<div>
		<label for="descripcion" th:text="Descrición"></label>
		<input type="text" name="descripcion" />
		</div>
		<div>
		<label for="fechaInicio" th:text="FechaInicio"></label>
		<input type="date" name="fechaInicio" />
		</div>
		<div>
		<label for="duracion" th:text="Duracion"></label>
		<input type="text" name="duracion" />
		</div>
		<div>
		<label for="direccion" th:text="Direccion"></label>
		<input type="text" name="direccion"/>
		</div>
		<div>
		<label for="estado" th:text="Estado"></label>
		<input type="text" name="estado"/>
		</div>
		<div>
		<label for="destacado" th:text="Destacado"></label>
		<input type="text" name="destacado" />
		</div>
		<div>
		<label for="aforoMaximo" th:text="AforoMáximo"></label>
		<input type="text" name="aforoMaximo" />
		</div>
		<div>
		<label for="minimoAsitencia" th:text="AsistenciaMínima"></label>
		<input type="text" name="minimoAsistencia"/>
		</div>
		<div>
		<label for="precio" th:text="Precio"></label>
		<input type="text" name="precio" />
		</div>
		<div>
		<label for="tipo" th:text="IdTipoEvento"></label>
		<input type="text" name="tipo" />
		</div>
		
		<input type="submit" value="Enviar"/>
	</form>
	
	<a th:href="@{/}">Volver Home</a>
</body>
</html>