<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Eventos</title>
</head>
<body>
	<h1>Aplicación de eventos</h1>
	<h3>Mensaje: <span th:text="${mensaje}"></span></h3>
	
	<table border="2" width=100%>
		<tr >
			<td><a href="">Tipos</a></td>
			<td><a href="">Eventos</a></td>
			<td><a href="">Usuarios</a></td>
			<td><a th:href="@{/}">Eventos/Tipo</a></td>
			<td><a href="">Login</a></td>
			<td><a href="">Registro</a></td>
			<td><a href="">Salir</a></td>
		</tr>
	</table>
	
	<h3>Listado de eventos activos:</h3>
	<a th:href="@{/eventos/alta}">Nuevo evento</a>
	<table border="2" width=100%>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Editar</th>
			<th>Eliminar</th>
			<th>Cancelar</th>
		</tr>
		<tr th:each="evento : ${eventos}">
			<td th:text="${evento.idEvento}"></td>
			<td th:text="${evento.nombre}"></td>
			<td th:text="${evento.precio}"></td>
			<td><a th:href="@{/eventos/editar/{id}(id=${evento.idEvento})}">Editar</a></td>
			<td><a th:href="@{/eventos/eliminar/{id}(id=${evento.idEvento})}">Eliminar</a></td>
			<td><a th:href="@{/eventos/cancelar/{id}(id=${evento.idEvento})}">Cancelar</a></td>
		</tr>
	</table>
</body>
</html>