<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle</title>
</head>
<body>
	<h1>Aplicación de clientes</h1>
	
	<h3>Detalle de cliente</h3>

	<p th:text="${cliente.idCliente}"></p>
	<p th:text="${cliente.nombre}"></p>
	<p th:text="${cliente.facturacionAnual}"></p>
	<p th:text="${cliente.cantidadEmpleados}"></p>
	<p th:text="${cliente.fechaCreacion}"></p>
	<p th:text="${#dates.format(cliente.fechaAlta, 'dd - MM - yyyy')}"></p>
	
	<a th:href="@{/}">Volver Home</a>
</body>
</html>